{
    "fvSubnet": {
        "attributes": {
            "ctrl": "",
            "ip": "{{ ip }}",
            "preferred": "{{ preferred }}",
            "scope": "{{ scope }}",
            "status": "{{ status }}"
        }
    }
}