{
    "vzBrCP":
    {
        "attributes":
        {
            "name": "{{ name }}",
            "scope": "{{ scope }}",
            "status": "{{ status }}"
        },

        "children": [
            {
                "vzSubj":
                {
                    "attributes":
                    {
                        "name": "{{ sub_name }}",
                        "status": "{{ status }}"
                    }
                }
            }
        ]
    }
}