{
    "fvAEPg": {
        "attributes": {
            "name": "{{ name }}",
            "status": "{{ status }}"
        },
        "children": [
            {
                "fvRsBd": {
                    "attributes": {
                        "tnFvBDName": "{{ bd }}",
                        "status": "{{ bd_status }}"
                    }
                }
            }
        ]
    }
}