{
    "fvRsPathAtt":{
        "attributes":{
            "encap":"{{ encap }}",
            "mode":"{{ mode }}",
            "tDn":"{{ path }}",
            "status":"{{ status }}"
        }
    }
}