{
    "fvRsPathAtt":{
        "attributes":{
            "encap":"{{ encap }}",
            "mode":"{{ mode }}",
            "tDn":"topology/pod-1/paths-{{ node_id }}/pathep-[eth{{ port }}]",
            "status":"{{ status }}"
        }
    }
}